In [3]:
import pandas as pd
from datetime import datetime as dt
from pytz import utc
data=pd.read_csv("reviews.csv",parse_dates=["Timestamp"]) #parses timetsamp column as datetime

In [4]:
data["Rating"]

0        4.0
1        4.0
2        4.0
3        5.0
4        4.5
        ...
44995    4.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 45000, dtype: float64

In [5]:
data[["Course Name","Rating"]]

                                             Course Name  Rating
0      The Python Mega Course: Build 10 Real World Ap...     4.0
1      The Python Mega Course: Build 10 Real World Ap...     4.0
2      The Python Mega Course: Build 10 Real World Ap...     4.0
3      The Python Mega Course: Build 10 Real World Ap...     5.0
4      The Python Mega Course: Build 10 Real World Ap...     4.5
...                                                  ...     ...
44995                 Python for Beginners with Examples     4.0
44996  The Python Mega Course: Build 10 Real World Ap...     5.0
44997  The Python Mega Course: Build 10 Real World Ap...     5.0
44998                 Python for Beginners with Examples     5.0
44999  The Python Mega Course: Build 10 Real World Ap...     5.0

[45000 rows x 2 columns]

In [6]:
data.iloc[1:3]

,Course Name,Timestamp,Rating,Comment
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN

In [7]:
data["Rating"].iloc[2]

4.0

In [8]:
##Filtering data based on condition
data[data["Rating"]>4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [9]:
##multiple cond
data[(data["Rating"]>4) & (data["Course Name"]=="The Complete Python Course: Build 10 Professional OOP Apps" )]

,Course Name,Timestamp,Rating,Comment
31,The Complete Python Course: Build 10 Professio...,2021-04-01 01:32:52+00:00,5.0,NaN
34,The Complete Python Course: Build 10 Professio...,2021-03-31 22:53:04+00:00,5.0,NaN
43,The Complete Python Course: Build 10 Professio...,2021-03-31 19:15:25+00:00,5.0,NaN
45,The Complete Python Course: Build 10 Professio...,2021-03-31 17:23:15+00:00,5.0,NaN
101,The Complete Python Course: Build 10 Professio...,2021-03-29 21:54:00+00:00,4.5,NaN
...,...,...,...,...
2501,The Complete Python Course: Build 10 Professio...,2021-01-14 21:19:44+00:00,4.5,NaN
2502,The Complete Python Course: Build 10 Professio...,2021-01-14 20:57:14+00:00,5.0,NaN
2509,The Complete Python Course: Build 10 Professio...,2021-01-14 15:46:18+00:00,5.0,NaN
2523,The Complete Python Course: Build 10 Professio...,2021-01-13 22:21:14+00:00,5.0,NaN
2525,The Complete Python Course: Build 10 Professio...,2021-01-13 20:44:02+00:00,5.0,NaN

In [10]:
##time based filtering
data[(data["Timestamp"]>=dt(2020,7,1,tzinfo=utc)) & (data["Timestamp"]<=dt(2020,12,31,tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
...,...,...,...,...
9729,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:44+00:00,3.5,NaN
9730,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:12+00:00,5.0,NaN
9731,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:40:58+00:00,4.0,NaN
9732,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:04:02+00:00,5.0,nice
9733,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 00:01:34+00:00,2.0,Hard to follow if u have no experience program...

In [11]:
##AVG RATING
data["Rating"].mean()

4.442155555555556

In [14]:
##AVG RATING FOR  A PARTICULAR COURSE
data[data["Course Name"]=="The Python Mega Course: Build 10 Real World Applications"]["Rating"].mean()

4.477270180942244

In [17]:
##AVG RATING FOR A TIME PERIOD
data[(data["Timestamp"]>=dt(2020,1,1,tzinfo=utc)) & 
     (data["Timestamp"]<=dt(2020,12,31,tzinfo=utc))]["Rating"].mean()

4.476541271662339

In [18]:
##AVG RATING FOR A TIME PERIOD & part course
data[(data["Timestamp"]>=dt(2020,1,1,tzinfo=utc)) & 
     (data["Timestamp"]<=dt(2020,12,31,tzinfo=utc))
    & (data["Course Name"]=="The Python Mega Course: Build 10 Real World Applications")]["Rating"].mean()

4.506076089208037

In [21]:
##uncommented ratings
data[data["Comment"].isnull()]["Rating"].mean()

4.433679746603492

In [24]:
##commented ratings
data[data["Comment"].notnull()]["Rating"].mean()

4.489777908515959

In [29]:
##comments with a particular word
data[data["Comment"].str.contains("accent",na=False)]["Rating"].count()

77

In [30]:
##avg rating of accent comments
data[data["Comment"].str.contains("accent",na=False)]["Rating"].mean()

3.8636363636363638